<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>

    <style>
        .container {
            width: 100%;
            max-width: 360px;
            margin: 50px auto;
        }

        li {
            color: red;
        }


        footer {
            position: absolute;
            bottom: 100px;
            text-align: center;
            width: 100%;
            max-width: 360px;
        }
    </style>
</head>



<body>
    <div class="container">
        <h2>Ooops, something happened</h2>

        <p>Check the following: </p>
        <ul>
            <li>Client ID</li>
            <li>Client Secret</li>
            <li>Scope</li>
            <li>Redirect URI</li>
        </ul>

        <p>Still having issues? </p>
        <p>Please visit this link below</p>
        <a href="https://developers.google.com/identity/protocols/OAuth2WebServer"> Google Auth2 Docs</a>

        <footer>
            <a href="">Github Repo</a>
        </footer>
    </div>

</body>

</html>