<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <style>
        .container {
            width: 100%;
            max-width: 360px;
            margin: 50px auto;
        }

        footer {
            position: absolute;
            bottom: 100px;
            text-align: center;
            width: 100%;
            max-width: 360px;
        }
    </style>
</head>

<body>
    <div class="container">

        <h2>Welcome to my App</h2>

        <p>Click the button to integrate your Google Calendar into your app</p>
        <a href="/google/authorize">Integrate Google Calendar</a>
        <footer>
            <a href="">Github Repo</a>
        </footer>
    </div>


</body>

</html>