<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Successfull</title>

    <style>
        .container {
            width: 100%;
            max-width: 360px;
            margin: 50px auto;
        }

        span {
            color: red;
        }

        footer {
            position: absolute;
            bottom: 100px;
            text-align: center;
            width: 100%;
            max-width: 360px;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2>Yupeee, you did it!!!</h2>

        <p>You just integrate it your google calendar with your app</p>

        <p>Now, Please refer to the link for Google Calendar API</p>

        <a href="https://developers.google.com/calendar/v3/reference/">Google Calendar API</a>

        <p>Note:
            <span>Always send a request with your access token</span>
        </p>


        <footer>
            <a href="">Github Repo</a>
        </footer>
    </div>

</body>

</html>